<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title> {{page.title}} </title>
  </head>
  <body>
    <h2> getPagesFrom example </h2>
    <ul>
      <li>
    {% for page in getPagesFrom(".") %}

      {% set config=getConfigFrom(page.id) %}
      <!-- 
        {{config}}
      -->
      <a href="{{page.path}}">{{page.title}}</a>

    {% endfor %}
      </li>
    </ul>

    <h2>Pages with the tag 'test'</h2>
    <ul>
      {% for page in getPagesByTag("test") %}
      <li>{{ getConfigFrom(page) }}: {{ getPathFrom(page) }}</li>
      {% endfor %}
      <li></li>
    </ul>

    <h2>Pages with the config 'title'</h2>
    <ul>
%% for page in getPagesWithConfig("title")
      <li>{{ getConfigFrom(page) }}: {{ getPathFrom(page) }}</li>
%% endfor
      <li></li>
    </ul>

    <h2>Pages with the config title = 'Custom Title'</h2>
    <ul>
%% for page in getPagesWithConfig("title", "Custom Title")
      <li>{{ getConfigFrom(page) }}: {{ getPathFrom(page) }}</li>
%% endfor
      <li></li>
    </ul>

    <h2>Pages with the config markdown_unsafe = 'true'</h2>
    <ul>
%% for page in getPagesWithConfig("markdown_unsafe", "true")
      <li>{{ getConfigFrom(page) }}: {{ getPathFrom(page) }}</li>
%% endfor
      <li></li>
    </ul>

  </body>
</html>
